<mat-nav-list>
<!--  <div class="profile-card">-->
<!--    <div class="header">-->
<!--      <h2>lisiane</h2>-->
<!--      <h4>lisianeag@hotmail.com</h4>-->
<!--    </div>-->
<!--    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">-->
<!--  </div>-->

<!--  <mat-divider></mat-divider>-->

<!--  <h2 matSubheader> Pages</h2>-->

<!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>-->

<!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>-->

<!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>-->


<!--  <mat-divider></mat-divider>-->

  <h2 matSubheader>Filtros</h2>

  <form [formGroup]="form" class="form-group">
  <div class="form">

    <div class="form-values">
      <div class="form-group">
        <label for="start-year">Ano início </label>
        <input id="start-year" class="form-control" formControlName="startYear">
      </div>
    </div>


    <div class="form-values">
      <div class="form-group">
        <label for="end-year">  Ano fim </label>
        <input id="end-year" class="form-control" formControlName="endYear">
      </div>
    </div>

    <div class="button">
      <button mat-raised-button color="warn" (click)="saveValues()">Primary</button>
    </div>
<!--    <button mat-raised-button color="warn">Warn</button>-->

  </div>



  </form>


<!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">-->
<!--    <mat-icon>import_contacts</mat-icon>-->
<!--    Contacts-->
<!--  </a>-->

<!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">-->
<!--    <mat-icon>contact_phone</mat-icon>-->
<!--    Leads-->
<!--  </a>-->
<!--  <div class="slider">-->
<!--    <app-year-slider>-->

<!--    </app-year-slider>-->
<!--    &lt;!&ndash;    <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options")></ngx-slider>&ndash;&gt;-->
<!--  </div>-->

</mat-nav-list>
