<mat-form-field appearance="outline">
  <mat-label>Selecione os temas</mat-label>
  <mat-select [formControl]="topics" multiple>
    <mat-select-trigger>
      {{topics.value ? topics.value[0] : ''}}
      <span *ngIf="topics.value?.length > 1" class="example-additional-selection">
        (+{{topics.value.length - 1}} {{topics.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option [value]="allTopicsLabel" (onSelectionChange)="allTopicsSelected($event)">{{topicSelectAll}}</mat-option>
    <mat-option *ngFor="let topping of topicsList" [value]="topping" (onSelectionChange)="onSelect($event)" [disabled]="controlDisable">{{topping}}</mat-option>

  </mat-select>
</mat-form-field>
