.form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}

.form-values {
  padding-right: 5px;
  padding-top: 10px;

  label {
    font-family: Nunito, sans-serif;

  }
}

.input {
  width: 25%;
}

.years {
  display: flex;
  flex-direction: row;
}

.title {
  margin-top: 30px;
  font-family: Nunito, sans-serif;
  color: gray;
}

.form-title {
  font-family: Nunito, sans-serif;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.filter-total{
  display: flex;;
  flex-direction: column;
}

.propositions-title{
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  //font-weight: bold;
  //margin-top: 30px;
}

.propositions-info{
  //margin-top: 25px;
  font-family: "Lucida Grande", sans-serif;

  text-align: center;
  font-size: 30px;
  //font-weight: bold;
  //margin-left: 40%;
}

.text{
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;

}
