.form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}

.form-values {
  padding-right: 5px;
  padding-top: 10px;

  label {
    font-family: Nunito, sans-serif;

  }
}

.input {
  width: 25%;
}

.years {
  display: flex;
  flex-direction: row;
}

.title {
  margin-top: 30px;
  font-family: Nunito, sans-serif;
  color: gray;
}

.form-title {
  font-family: Nunito, sans-serif;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.filter-total{
  display: flex;;
  flex-direction: column;
}

.propositions-title{
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  //font-weight: bold;
  //margin-top: 30px;
}

.propositions-info{
  //margin-top: 25px;
  font-family: "Lucida Grande", sans-serif;

  text-align: center;
  font-size: 30px;
  //font-weight: bold;
  //margin-left: 40%;
}

.text{
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}


//::ng-deep datepicker-value-example .mat-form-field-label{
//  color:red;
//}
//
//::ng-deep .mat-datepicker-toggle{
//  color:red;
//}
//::ng-deep .mat-form-field-underline{
//  background: red;
//}

::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background-color: lightgreen;
}



//::ng-deep .mat-calendar-table {
//  td:first-child > .mat-calendar-body-cell-content {
//    color: #dfa5a5 !important;
//  }
//  td:nth-child(7) > .mat-calendar-body-cell-content {
//    color: #dfa5a5 !important;
//  }
//}
