<!--  <app-widget-area></app-widget-area>-->


<!--  <app-sidebar (valuesChanged)="getData($event)"></app-sidebar>-->
<!--  <button mat-raised-button (click)="addFilter()">Adicionar Filtro</button>-->

<div class="filter">
<!--    <app-filter-modal (valuesChanged)="getDataTypes($event)" [showValues]="dateValues" [disable]="!controlStackChart"></app-filter-modal>-->
<app-filter-modal (valuesChanged)="getDataTypes($event)" [disable]="!controlStackChart" [propositionsTotal]="totalPropositions"></app-filter-modal>



<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>Selecione o intervalo de anos:</mat-label>-->
<!--  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">-->
<!--    <input matStartDate formControlName="start" placeholder="Start date">-->
<!--    <input matEndDate formControlName="end" placeholder="End date">-->
<!--  </mat-date-range-input>-->
<!--  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  <mat-date-range-picker #picker></mat-date-range-picker>-->

<!--  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
<!--  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
<!--</mat-form-field>-->
</div>
<!--<mat-divider></mat-divider>-->

<br>
<br>
<div class="chart-container">
  <div class="pie-chart-container">
    <app-widget-pie *ngIf="(propositionsPie.length !== 0) && (topicStackedChartModel.years.length !== 0) && (partiesQuantityFixed.length !== 0)" [data]="propositionsPie"></app-widget-pie>

    <!--  <app-widget-pie *ngIf="(propositionsPie.length !== 0) && (topicStackedChartModel.years.length !== 0)" [data]="propositionsPieParties"></app-widget-pie>-->

    <app-donut-chart *ngIf="(propositionsPie.length !== 0) && (topicStackedChartModel.years.length !== 0) && (partiesQuantityFixed.length !== 0)"  [data]="partiesQuantityFixed" [year]="donutChartYear"></app-donut-chart>

    <div *ngIf="!controlStackChart" id="loader"></div>

  </div>
</div>

<!--<app-tree-map></app-tree-map>-->

<!--<br>-->
<!--<br>-->
<mat-divider *ngIf="controlStackChart"></mat-divider>

<div class="chart-container">
  <app-stacked-bar-chart *ngIf="(propositionsPie.length !== 0) && (topicStackedChartModel.years.length !== 0) && (partiesQuantityFixed.length !== 0)" [data]="topicStackedChartModel"></app-stacked-bar-chart>

</div>

<br>


<br>

<mat-divider *ngIf="controlStackChart"></mat-divider>
<!--<app-donut-chart *ngIf="partiesQuantityFixed.length !== 0" [data]="partiesQuantityFixed" [year]="donutChartYear"></app-donut-chart>-->


<br>
<br>

<div class="chart-container">
<app-bubble-chart *ngIf="(propositionsPie.length !== 0) && (topicStackedChartModel.years.length !== 0) && (partiesQuantityFixed.length !== 0)"></app-bubble-chart>
</div>
<br>
<br>

